# Dependencies
node_modules/

# Build
dist/
build/
out/

# Env variables
.env
.env.*
!.env.example

# Data
data/mockPosts.js
data/*.json

# Logs
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Sanity
.sanity/

