@layer global {

  /* dm-sans-regular - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/dm-sans-v17-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-italic - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/dm-sans-v17-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-500 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/dm-sans-v17-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-500italic - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../assets/fonts/dm-sans-v17-latin-500italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-700 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/dm-sans-v17-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-700italic - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../assets/fonts/dm-sans-v17-latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-900 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/dm-sans-v17-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-900italic - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 900;
    src: url('../assets/fonts/dm-sans-v17-latin-900italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-mono-300 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/dm-mono-v16-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-mono-300italic - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Mono';
    font-style: italic;
    font-weight: 300;
    src: url('../assets/fonts/dm-mono-v16-latin-300italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-mono-regular - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/dm-mono-v16-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-mono-italic - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Mono';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/dm-mono-v16-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-mono-500 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/dm-mono-v16-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-mono-500italic - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Mono';
    font-style: italic;
    font-weight: 500;
    src: url('../assets/fonts/dm-mono-v16-latin-500italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  :root {
    --c-navy-900: hsl(193, 55%, 10%);
    --c-oat-medium: hsl(48, 13%, 92%);
    --c-oat-light: hsl(36, 29%, 97%);
    --c-off-white: hsl(0 0% 97.6%);
    --c-grayish-blue: hsl(233, 8%, 79%);
    --c-dark-grayish-blue: hsl(236, 13%, 42%);

    --fs-64: calc(64/16 * 1rem);
    --fs-54: calc(54/16 * 1rem);
    --fs-44: calc(44/16 * 1rem);
    --fs-34: calc(34/16 * 1rem);
    --fs-24: calc(24/16 * 1rem);
    --fs-20: calc(20/16 * 1rem);
    --fs-18: calc(18/16 * 1rem);
    --fs-16: calc(16/16 * 1rem);
    --fs-14: calc(14/16 * 1rem);
    --fs-12: calc(12/16 * 1rem);
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
  }

  body {
    color: var(--c-navy-900);
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    background-color: var(--c-off-white);
  }

  input,
  button {
    font: inherit;
    border: none;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr calc(100% - 32px) 1fr;
  }

  @media (width >=calc(768/16 * 1rem)) {
    .wrapper {
      grid-template-columns: 1fr min(calc(100% - 48px), calc(1280/16 * 1rem)) 1fr;
    }
  }

  .wrapper>* {
    grid-column: 2;
  }

}

@layer header {

  .header {
    height: calc(96/16 * 1rem);
    background-color: var(--c-oat-light);
    border-bottom: 1px solid var(--c-grayish-blue);
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-left {
    display: flex;
  }

  .ddc-logo {
    width: calc(112/16 * 1rem);
    height: auto;
    padding-block: 0.2rem;
  }

  .ddc-logo:hover {
    background-color: var(--c-oat-medium);
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
  }

  .menu-button,
  .close-button {
    display: none;
    width: 2rem;
    height: auto;
    background: inherit;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    list-style: none;
  }

  .nav-links>li>a {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    color: var(--c-navy-900);
    padding: 2.5rem 1.5rem 2.1rem;
    transition: background-color 150ms ease-in-out;
  }

  .nav-links>li>a:hover {
    background-color: var(--c-oat-medium);
  }

  @media (width < calc(768/16 * 1rem)) {

    .ddc-logo {
      width: calc(96/16 * 1rem);
      height: auto;
      padding-block: 0.6rem;
    }

    .menu-button {
      display: flex;
      margin-block-start: 5px;
      margin-inline-end: 18px;
    }

    .header-right {
      background-color: var(--c-oat-light);
      box-shadow: 0 0 20px rgb(0, 0, 0, 0.7);
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      min-height: 100%;
      top: 0;
      right: 0;
      left: 120%;
      transition: left 750ms ease-in-out;
      z-index: 99;
    }

    .close-button {
      display: flex;
      margin-inline-start: 2.1rem;
      margin-block: 2.1rem;
    }

    .nav-links {
      flex-direction: column;
    }

    .nav-links>li>a {
      padding-inline: 2.5rem;
      padding-block: 1.5rem;
    }

    .header-right.visible {
      top: 0;
      right: 0;
      left: 40%;
    }
  }

}

@layer overlay {

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 120%;
    right: 0;
    cursor: pointer;
    z-index: 98;
    transition: left 750ms ease-in-out;
  }

  .overlay.visible {
    left: 0;
  }

}

@layer main {

  .main {
    display: grid;
    row-gap: 1rem;
  }

  .hero-section {
    margin-block-end: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .blog-title {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
  }

  .blog-title span:first-child {
    font-size: var(--fs-64);
    font-weight: 900;
  }

  .blog-title .sub-title span {
    opacity: 0;
    font-family: 'DM Mono', Arial, Helvetica, sans-serif;
    font-size: var(--fs-44);
    font-weight: 300;
    color: var(--c-dark-grayish-blue);
    animation: subtitleAnimation forwards;

  }

  @keyframes subtitleAnimation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .search-section {
    min-width: 70%;
    display: flex;
    column-gap: 0.7rem;
    font-size: var(--fs-18);
    margin-block-end: 0.5rem;
  }

  .search-box {
    flex: 1;
    background-image: url(../assets/images/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 25px center;
    background-size: auto;
    padding-inline: 4rem;
    padding-block: 0.7rem;
    border-radius: 5px;
    border: 1px solid var(--c-navy-900);
  }

  .search-box:placeholder-shown {
    color: var(--c-dark-grayish-blue);
  }

  .search-box:focus {
    outline: 1px solid var(--c-navy-900);
  }

  .search-button {
    background-color: var(--c-oat-light);
    border-radius: 5px;
    padding-inline: 3rem;
    padding-block: 0.7rem;
    cursor: pointer;
    border: 1px solid var(--c-navy-900);
    transition: background-color 150ms ease-in-out,
      color 150ms ease-in-out;
  }

  .search-button:hover {
    background-color: var(--c-navy-900);
    color: var(--c-oat-light);
  }

  .featured-section-title,
  .new-section-title,
  .explore-section-title {
    display: inline-block;
    padding: 0.2rem 1rem;
    font-family: 'DM Mono', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: var(--fs-18);
    margin-block-end: 0.75rem;
    border-radius: 5px;
    background-color: var(--c-navy-900);
    color: var(--c-oat-light);
  }

  .main-content {
    display: grid;
    gap: 2rem;
  }

  .main-content>* {
    padding: 2rem;
    background-color: var(--c-oat-light);
    border-radius: 5px;
    border: 1px solid var(--c-grayish-blue);
  }

  .featured-section {
    grid-column: 1 / span 3;
  }

  .new-section {
    grid-column: 4;
  }

  .new-section-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, auto);
  }

  .f-brick-layout,
  .n-brick-layout,
  .e-brick-layout {
    position: relative;
    border: 2px solid var(--c-grayish-blue);
    padding: 0.5rem;
    border-radius: 5px;
    background-color: hsl(0 0% 97.6%);
  }

  .n-brick-layout {
    max-width: calc(280/16 * 1rem);
  }

  .f-brick-layout:hover,
  .n-brick-layout:hover,
  .e-brick-layout:hover {
    box-shadow: 0 0 5px var(--c-navy-900);
  }

  .brick-details {
    display: grid;
  }

  .brick-title {
    font-size: var(--fs-18);
    padding-block: 0.5rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .brick-link {
    text-decoration: none;
    color: var(--c-navy-900);
  }

  .f-brick-layout:hover .brick-link,
  .n-brick-layout:hover .brick-link,
  .e-brick-layout:hover .brick-link {
    text-decoration: 2px underline;
  }

  .brick-link::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  .brick-date {
    font-size: var(--fs-16);
    color: var(--c-dark-grayish-blue);
  }

  .n-brick-layout .brick-title,
  .e-brick-layout .brick-title {
    font-size: var(--fs-16);
    padding-block: 0.65rem;
    line-height: 1.2;
    max-height: calc(2.4em + 0.65rem);
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  .n-brick-layout .brick-date,
  .e-brick-layout .brick-date {
    font-size: var(--fs-14);
    padding-block-start: 0.8rem;
  }

  .brick-thumbnail {
    position: relative;
  }

  .brick-thumbnail>img {
    border-radius: 5px 5px 0 0;
  }

  .f-brick-layout .brick-tag {
    position: absolute;
    padding: 0.5rem 1rem;
    background-color: var(--c-oat-medium);
    color: var(--c-navy-900);
    font-weight: 600;
    border-radius: 2px;
    bottom: 20px;
    right: 15px;
  }

  .n-brick-layout .brick-tag,
  .e-brick-layout .brick-tag {
    position: absolute;
    padding: 0.25rem 0.5rem;
    background-color: var(--c-oat-medium);
    color: var(--c-navy-900);
    border-radius: 2px;
    font-weight: 600;
    bottom: 15px;
    right: 10px;
  }


  .explore-section {
    padding: 2rem;
    background-color: var(--c-oat-light);
    margin-block: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid var(--c-grayish-blue);
  }

  .explore-section-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, auto);
  }



  @media (width < calc(1280/16 * 1rem)) {
    .blog-title span:first-child {
      font-size: var(--fs-54);
    }

    .blog-title .sub-title span {
      font-size: var(--fs-34);
    }

    .featured-section {
      grid-column: 1 / span 4;
    }

    .new-section {
      grid-column: 1 / span 4;
    }

    .new-section-grid {
      grid-template-columns: repeat(2, auto);
    }

    .n-brick-layout {
      max-width: 100%;
    }

    .explore-section-grid {
      grid-template-columns: repeat(2, auto);
    }
  }

  @media (width < calc(768/16 * 1rem)) {
    .blog-title span:first-child {
      font-size: var(--fs-44);
    }

    .blog-title .sub-title span {
      font-size: var(--fs-24);
    }

    .search-section {
      width: 100%;
      flex-direction: column;
      row-gap: 0.7rem;
    }

    .search-box {
      background-position: 20px center;
      padding-inline: 3.5rem 3rem;
    }

    .main-content>* {
      padding: 1rem;
    }

    .new-section-grid {
      grid-template-columns: 1fr;
    }

    .brick-title {
      font-size: var(--fs-16);
    }

    .brick-date {
      font-size: var(--fs-14);
    }

    .explore-section {
      padding: 1rem;
    }

    .explore-section-grid {
      grid-template-columns: 1fr;
    }

  }

}


@layer footer {

  .footer {
    height: calc(96/16 * 1rem);
    background-color: var(--c-oat-light);
    border-top: 1px solid var(--c-grayish-blue);
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .linkedin-icon {
    vertical-align: middle;
    width: 2.5rem;
    height: auto;
  }

  @media (width < calc(1280/16 * 1rem)) {
    .footer-content p {
      font-size: var(--fs-14);
    }

  }

  @media (width < calc(768/16 * 1rem)) {
    .footer-content p {
      font-size: var(--fs-12);
    }

    .linkedin-icon {
      width: 2rem;
    }
  }

}