.main {
  flex: 1;
  display: grid;
  row-gap: 1rem;
}

.hero-section {
  min-height: 20vh;
  margin-block-end: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.blog-title {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.blog-title span:first-child {
  font-size: var(--fs-64);
  font-weight: 900;
}

.blog-title .sub-title span {
  opacity: 0;
  font-family: 'DM Mono', Arial, Helvetica, sans-serif;
  font-size: var(--fs-44);
  font-weight: 300;
  color: var(--c-dark-grayish-blue);
  animation: subtitleAnimation forwards;

}

@keyframes subtitleAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.search-section {
  min-width: 70%;
  display: flex;
  column-gap: 0.7rem;
  font-size: var(--fs-18);
  margin-block-end: 0.5rem;
}

.search-box {
  flex: 1;
  background-image: url(/images/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 25px center;
  background-size: auto;
  padding-inline: 4rem;
  padding-block: 0.7rem;
  border-radius: 5px;
  border: 1px solid var(--c-navy-900);
}

.search-box:placeholder-shown {
  color: var(--c-dark-grayish-blue);
}

.search-box:focus {
  outline: none;
}

.search-button {
  background-color: var(--c-oat-light);
  border-radius: 5px;
  padding-inline: 3rem;
  padding-block: 0.7rem;
  cursor: pointer;
  border: 1px solid var(--c-navy-900);
  transition: background-color 150ms ease-in-out,
    color 150ms ease-in-out;
}

.search-button:hover {
  background-color: var(--c-navy-900);
  color: var(--c-oat-light);
}

.main-content {
  display: grid;
  gap: 2rem;
  grid-template-columns: 3fr 1fr;
}

.featured-section {
  min-height: 60vh;
}

.featured-section-title,
.new-section-title,
.recent-section-title {
  display: inline-block;
  padding: 0.2rem 1rem;
  font-family: 'DM Mono', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: var(--fs-16);
  margin-block-end: 0.75rem;
  border-radius: 5px;
  background-color: var(--c-grayish-blue);
  color: var(--c-navy-900);
  font-weight: 400;
}

.main-content>* {
  padding: 2rem;
  background-color: var(--c-oat-light);
  border-radius: 5px;
  border: 1px solid var(--c-grayish-blue);
}

.new-section-grid {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr;
}

.recent-section {
  min-height: 30vh;
  padding: 2rem;
  background-color: var(--c-oat-light);
  margin-block: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid var(--c-grayish-blue);
}

.recent-section-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.n-brick-layout {
  width: min(calc(100vw - 79.2vw), calc(280/16 * 1rem));
}

.f-brick-layout,
.n-brick-layout,
.r-brick-layout {
  position: relative;
  border: 2px solid var(--c-grayish-blue);
  padding: 0.5rem;
  border-radius: 5px;
  background-color: hsl(0 0% 97.6%);
}

.f-brick-layout:hover,
.n-brick-layout:hover,
.r-brick-layout:hover {
  box-shadow: 0 0 5px var(--c-navy-900);
}

.brick-thumbnail {
  position: relative;
}

.brick-thumbnail>img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  display: block;
}

.brick-details {
  display: grid;
}

.brick-title {
  font-size: var(--fs-18);
  padding-block: 0.65rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.brick-link {
  text-decoration: none;
  color: var(--c-navy-900);
}

.f-brick-layout:hover .brick-link,
.n-brick-layout:hover .brick-link,
.r-brick-layout:hover .brick-link {
  text-decoration: 2px underline;
}

.brick-link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.brick-date {
  font-size: var(--fs-16);
  color: var(--c-dark-grayish-blue);
}

.n-brick-layout .brick-title,
.r-brick-layout .brick-title {
  font-size: var(--fs-16);
  line-height: 1.2;
  height: calc(2.4em + 0.65rem);
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.n-brick-layout .brick-date,
.r-brick-layout .brick-date {
  font-size: var(--fs-14);
  padding-block-start: 0.6rem;
}

.f-brick-layout .brick-tag {
  position: absolute;
  padding: 0.5rem 1rem;
  background-color: var(--c-oat-medium);
  color: var(--c-navy-900);
  font-weight: 600;
  border-radius: 2px;
  bottom: 20px;
  right: 15px;
}

.n-brick-layout .brick-tag,
.r-brick-layout .brick-tag {
  font-size: var(--fs-14);
  position: absolute;
  padding: 0.25rem 0.5rem;
  background-color: var(--c-oat-medium);
  color: var(--c-navy-900);
  border-radius: 2px;
  font-weight: 600;
  bottom: 15px;
  right: 10px;
}

@media (width < calc(1280/16 * 1rem)) {

  .hero-section {
    min-height: 18vh;
  }

  .blog-title span:first-child {
    font-size: var(--fs-54);
  }

  .blog-title .sub-title span {
    font-size: var(--fs-34);
  }

  .search-section {
    min-width: 80%;
  }

  .main-content {
    grid-template-columns: 1fr;
  }

  .featured-section {
    min-height: 50vh;
  }

  .new-section {
    min-height: 30vh;
  }

  .new-section-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .recent-section-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .n-brick-layout {
    width: 100%;
  }

}

@media (width < calc(768/16 * 1rem)) {
  .blog-title span:first-child {
    font-size: var(--fs-44);
  }

  .blog-title .sub-title span {
    font-size: var(--fs-24);
  }

  .search-section {
    width: 100%;
    flex-direction: column;
    row-gap: 0.7rem;
  }

  .search-box {
    font-size: var(--fs-16);
    background-size: 20px;
    background-position: 10px center;
    padding-inline: 2.25rem 1.75rem;
  }

  .featured-section {
    min-height: 30vh;
  }

  .main-content>*,
  .recent-section {
    padding: 1rem;
  }

  .featured-section-title,
  .new-section-title,
  .recent-section-title {
    padding: 0.2rem 0.75rem;
    font-size: var(--fs-16);

  }

  .new-section-grid {
    grid-template-columns: 1fr;
  }

  .recent-section-grid {
    grid-template-columns: 1fr;
  }

  .f-brick-layout .brick-title {
    font-size: var(--fs-16);
    padding-block: 0.65rem;
    line-height: 1.2;
    height: calc(2.4em + 0.65rem);
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  .f-brick-layout .brick-date {
    font-size: var(--fs-14);
    padding-block-start: 0.6rem;
  }

  .f-brick-layout .brick-tag {
    font-size: var(--fs-14);
    padding: 0.25rem 0.5rem;
    bottom: 15px;
    right: 10px;
  }
}